[Desktop Entry]
Type=Application
Name=Reveal
GenericName=Image Viewer
Comment=A fast image viewer
Exec=reveal %f
Icon=io.github.knst0.reveal
Terminal=false
Categories=Graphics;Viewer;2DGraphics;RasterGraphics;
MimeType=image/avif;image/avif-sequence;image/bmp;image/gif;image/jpeg;image/jxl;image/png;image/qoi;image/svg+xml;image/svg+xml-compressed;image/tiff;image/vnd.radiance;image/webp;image/x-adobe-dng;image/x-canon-cr2;image/x-canon-cr3;image/x-canon-crw;image/x-epson-erf;image/x-exr;image/x-farbfeld;image/x-fuji-raf;image/x-hasselblad-3fr;image/x-icon;image/x-kodak-dcr;image/x-kodak-kdc;image/x-leaf-mos;image/x-minolta-mrw;image/x-nikon-nef;image/x-nikon-nrw;image/x-olympus-orf;image/x-panasonic-rw2;image/x-pentax-pef;image/x-phaseone-iiq;image/x-portable-anymap;image/x-portable-arbitrarymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-samsung-srw;image/x-sigma-x3f;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;image/x-tga;
